<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sandman.download.dao.mysql.user.DownloadRecordDao">
    <insert id="createDownloadRecord" parameterType="com.sandman.download.entity.user.DownloadRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into downloadRecord(userId,resId,createBy,createTime,updateBy,updateTime,delFlag) values(#{userId},#{resId},#{createBy},#{createTime},#{updateBy},#{updateTime},#{delFlag})
    </insert>
    <update id="deleteById" parameterType="com.sandman.download.entity.user.DownloadRecord">
        update downloadRecord set updateTime=#{updateTime}
        <if test="updateBy!=null or updateBy!=''">
            ,updateBy=#{updateBy}
        </if>
        <if test="delFlag!=null or delFlag!=''">
            ,delFlag=#{delFlag}
        </if>
        where id=#{id}
    </update>
    <select id="findAllByUserId" parameterType="Long" resultMap="downloadRecordResultMap">
        select <include refid="downloadRecord"/> from downloadRecord t,resource r where t.delFlag=0 and t.userId=#{userId} and t.resId=r.id
    </select>
    <sql id="downloadRecord">
        t.id as id,
        t.userId as userId,
        t.resId as resId,
        t.createBy as createBy,
        t.createTime as createTime,
        t.updateBy as updateBy,
        t.updateTime as updateTime,
        t.delFlag as delFlag,
        r.id as r_id,
        r.userId as r_userId,
        r.userName as r_userName,
        r.nickName as r_nickName,
        r.resName as r_resName,
        r.resUrl as r_resUrl,
        r.resGold as r_resGold,
        r.resDesc as r_resDesc,
        r.resSize as r_resSize,
        r.resType as r_resType,
        r.downloadCount as r_downloadCount,
        r.createBy as r_createBy,
        r.createTime as r_createTime,
        r.updateBy as r_updateBy,
        r.updateTime as r_updateTime,
        r.delFlag as r_delFlag
    </sql>
    <resultMap id="downloadRecordResultMap" type="com.sandman.download.entity.user.DownloadRecord">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="resId" column="resId"/>
        <result property="createBy" column="createBy"/>
        <result property="createTime" column="createTime"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateTime" column="updateTime"/>
        <result property="delFlag" column="delFlag"/>
        <association property="resource" javaType="com.sandman.download.entity.user.Resource">
            <id property="id" column="r_id"/>
            <result property="userId" column="r_userId"/>
            <result property="userName" column="r_userName"/>
            <result property="nickName" column="r_nickName"/>
            <result property="resName" column="r_resName"/>
            <result property="resUrl" column="r_resUrl"/>
            <result property="resGold" column="r_resGold"/>
            <result property="resDesc" column="r_resDesc"/>
            <result property="resSize" column="r_resSize"/>
            <result property="resType" column="r_resType"/>
            <result property="downloadCount" column="r_downloadCount"/>
            <result property="createBy" column="r_createBy"/>
            <result property="createTime" column="r_createTime"/>
            <result property="updateBy" column="r_updateBy"/>
            <result property="updateTime" column="r_updateTime"/>
            <result property="delFlag" column="r_delFlag"/>

        </association>
    </resultMap>
</mapper>