<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sandman.download.dao.mysql.system.RoleDao">

	<select id="findByUserId" parameterType="Long" resultType="com.sandman.download.entity.system.Role">
		select r.* from role r,userRole ur where r.delFlag=0 and ur.delFlag=0 and
			r.id = ur.roleId and ur.userId = #{userId}
	</select>

</mapper>