<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.sandman.download.dao.mysql.DownloadRecordDao">
    <insert id="createDownloadRecord" parameterType="com.sandman.download.entity.DownloadRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into downloadRecord(userId,resId,createBy,createTime,updateBy,updateTime,delFlag) values(#{userId},#{resId},#{createBy},#{createTime},#{updateBy},#{updateTime},#{delFlag})
    </insert>
    <update id="deleteById" parameterType="com.sandman.download.entity.DownloadRecord">
        update downloadRecord set updateTime=#{updateTime}
        <if test="updateBy!=null or updateBy!=''">
            ,updateBy=#{updateBy}
        </if>
        <if test="delFlag!=null or delFlag!=''">
            ,delFlag=#{delFlag}
        </if>
        where id=#{id}
    </update>
</mapper>